# Path to Quickstep cli shell.
QS=/quickstep/build/quickstep_cli_shell

QS_ARGS_BASE="-printing_enabled=false"

# This is the flags to Quickstep during the loading process. Worker affinities must
# not be set if your system does not support NUMA. The num_workers flag should be set
# to the number of cores on you system. The reason there's two flags for loading and
# running is that loading has memory problems for large number of workers.
QS_ARGS_NUMA_LOAD=""

# This is the flags to Quickstep during the benchmarking runs. Worker affinities must
# not be set if your system does not support NUMA. The num_workers flag should be set
# to the number of cores on you system.
QS_ARGS_NUMA_RUN=""

# This is the script to use to create the TPC-H tables. Probably doesn't need to be modified
# unless you are testing different block formats.
CREATE_SQL="create.sql"

# If set to false, then Quickstep will not attempt to load tables.
# Otherwise, the script will delete anything in $QS_STORAGE and load everything freshly.
# It will need to be set to true the first time you run it.
LOAD_DATA=true

# Paths to tbl files for bulk loading. Probably to your table generate or subfolder.
# This path must be set if you are loading data. Table file come from the standard
# TPCH data generator which can be found on github.
TPCH_DATA_PATH=/tpch

# Where Quickstep will write Storage Blocks to.
QS_STORAGE=/tpch_qsstor/

# Which TPCH queries to run. ALL will run all the queries
# QUERIES="ALL"           # this is valid and will run all the queries
# QUERIES="05"            # this runs just query five
# QUERIES="05 06 07 08"   # runs queries 5 6 7 8
QUERIES="ALL"
